.service_item{
    padding: 1rem;
    border-bottom: 1px solid #faa83586;
    border-right: 1px solid #faa83586;
    border-radius: 0.5rem;
}
.service_img{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--secondary-color);
    padding: 0.5rem;
    border-radius: 50px;
    margin-bottom: 1rem;
    line-height: 50px;

}



.search_img img{
    width: 100%;
}


.service_item h5{
    font-size: 1.2rem;
    font-weight: 500;
}
.service_item p{
    font-size: 0.9rem;
    color: var(--text-color);
}